# Ignore virtual environment
venv/

# Ignore macOS system files
.DS_Store

# Ignore PyCharm/VSCode/JetBrains settings
.idea/
*.code-workspace

# Ignore models and data (optional if large)
data/
model/

